@import url("https://fonts.googleapis.com/css2? family-Nunito+Sans: wght@200&display=swap");
:root {
  --font-style: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--font-style);
  height: 100px;
}

ul {
  justify-content: center;
  margin: 0%;
  width: 1200;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 25px 0;
  border-radius: 25px;
  border: 0.1px solid #099fff;
  background-color: #181818;
  box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px @rgba(0, 0, 0, 0.19);
}

li {
  margin: auto;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
li::after {
  display: block;
}
li::before {
  transform: scaleX(2);
}
