.revenue{
    border: 2px solid black;
    display: flex;
    height: 300px;
    margin: 10px 15px;
   
   
    
}

.about{
    border: 2px solid black;
    height: 30px;
    padding: 23px 15px;
    margin: 15px 23px;
    width: 80%;
    text-align: center;
    background-color: rgb(227, 237, 246);
    justify-content:center ;
}
.company{
    border: 2px solid black;
    width: 86%;
   

}