
/* .container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: beige;

    
} */

.search-bar{
    width: 100%;
    max-width: 700px;
    background: white;
   display: flex;
   align-items: center;
   border-radius: 60px;
   
   margin: 20px 23px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
.SEARCH{
    border: 2px solid black;
    height: 80px;
    
}